{% extends "base.html" %}

{% block title %}
Clientes - Arte Mostacilla
{% endblock %}

{% block content %}

<section class="container mt-5">

    <h2 class="text-center mb-4">
        {{ titulo }}
    </h2>

    <div class="table-responsive">

        <table class="table table-bordered table-striped text-center">

            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Ciudad</th>
                </tr>
            </thead>

            <tbody>

                {% for cliente in clientes %}

                <tr>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.ciudad }}</td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</section>

{% endblock %}