{% extends "base.html" %}

{% block title %}
Productos - Arte Mostacilla
{% endblock %}

{% block content %}

<section class="container mt-5">

    <h2 class="text-center mb-4">
        {{ titulo }}
    </h2>

    <div class="text-end mb-4">
        <a href="{{ url_for('nuevo_producto') }}" class="btn btn-primary">
            Registrar producto
        </a>
    </div>

    <div class="table-responsive">

        <table class="table table-bordered table-striped text-center">

            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>Stock</th>
                </tr>
            </thead>

            <tbody>

                {% for producto in productos %}

                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>${{ producto.precio }}</td>
                    <td>{{ producto.stock }}</td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</section>

{% endblock %}