{% extends "base.html" %}

{% block title %}
Proveedores - Arte Mostacilla
{% endblock %}

{% block content %}

<section class="container mt-5">

    <h2 class="text-center mb-4">
        {{ titulo }}
    </h2>

    <div class="text-end mb-4">
        <a href="{{ url_for('nuevo_proveedor') }}" class="btn btn-primary">
            Registrar proveedor
       </a>
    </div>

    <div class="table-responsive">

        <table class="table table-bordered table-striped text-center">

            <thead class="table-dark">
                <tr>
                    <th>Proveedor</th>
                    <th>Producto</th>
                    <th>Ciudad</th>
                </tr>
            </thead>

            <tbody>

                {% for proveedor in proveedores %}

                <tr>
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.producto }}</td>
                    <td>{{ proveedor.ciudad }}</td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</section>

{% endblock %}